
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.BusinessName</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="mobile-web-app-capable" content="no">
    <link href="@ViewBag.LogoPath" rel="apple-touch-icon" />
    <link rel="icon" type="image/png" href="@ViewBag.LogoPath">
    <meta name="apple-mobile-web-app-title" content="@ViewBag.BusinessName">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="~/Content/assets/css/style.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ko")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="~/Content/assets/js/bootstrap-input-spinner.js"></script>
</head>
<body>
    <script>
    var webserviceURL = "@ViewBag.CoreApiEndpoint";
    var businessId = "@ViewBag.BusinessId";
    </script>
    <div class="app">
        <div class="app__container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
